<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>发说说</title>
    <link href="__PUBLIC__/admin/css/admin_login.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="admin_login_wrap">
    <h1>后台管理</h1>
    <div class="adming_login_border">
        <div class="admin_input">
            <form action="" method="post" enctype="multipart/form-data" >
                <ul class="admin_items">
                    <li>
                        <label for="user">图片</label>
                        <input type="file" name="pic[]" multiple="true" size="35" class="admin_input_style" />
                    </li>
                    <li>
                        <label for="user">视频</label>
                        <input type="file" name="video" size="35" class="admin_input_style" />
                    </li>
                    <li>
                        <label for="user">uid</label>
                        <input type="text" name="uid" size="35" class="admin_input_style" />
                    </li>

                    <li>
                        <label for="user">文字</label>
                        <input type="text" name="text" size="35" class="admin_input_style" />
                    </li>

                    <li>
                        <label for="user">类型</label>
                        <input type="text" name="message_type" size="35" class="admin_input_style" />
                    </li>

                    <li>
                        <input type="submit" tabindex="3" value="提交" class="btn btn-primary" />
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
</body>
</html>
