<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/ueditor/lang/zh-cn/zh-cn.js"></script>

</head>
<body>

{include file="Common/top" /}

<div class="container clearfix">
    
    {include file="Common/left" /}

    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">文章管理</a><span class="crumb-step">&gt;</span><span>文章栏目</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">

                <!-- 表单action为空 直接post到丹青啊控制器的当前方法 -->
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">

                    <input type="hidden" value="{$article._id}">
                    <table class="insert-tab" width="100%">
                        <tbody>

                            <tr>
                                <th width="10%"><i class="require-red">*</i>文章名称:</th>
                                <td>
                                    <input class="common-text required" name="title" size="50" type="text" value="{$article.title}">
                                </td>
                            </tr>
                            <tr>
                                <th>关键词:</th>
                                <td><input class="common-text" name="keywords" size="50" value="{$article.keywords}" type="text"></td>
                            </tr>

                            <th>描述:</th>
                                <td><textarea name="des" class="common-textarea" cols="30" style="width: 98%;" rows="5">{$article.des}</textarea></td>
                            
                            <tr>
                                <th>所属栏目</th>
                                <td>
                                    <select name="cateid">
                                        {volist name="cate" id="vo"}
                                             <option {if condition="$article.cateid eq $vo.id"} selected="selected" {/if}value="{$vo.id}">{$vo.catename}</option>
                                        {/volist}    
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>缩略图</th>
                                <td><input name="pic" type="file" value="">
                                {if condition="$article.pic eq '' "}
                                暂无缩略图
                                {else /}
                                <img height = "50" src="__PUBLIC__{$article.pic}">
                                {/if}</td>
                            </tr>

                            <tr>
                                <th>内容：</th>
                                <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="5">{$article.content}</textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
<script type="text/javascript">
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
   //相见文档配置属于你自己的编译器
 var ue = UE.getEditor('content', {
        initialFrameHeight: 300,
        initialFrameWeight: 500
    });
</script>
</body>
</html>