<DIV class=sidebar-wrap>
    <DIV class=sidebar-title>
        <H1>菜单</H1></DIV>
    <DIV class=sidebar-content>
        <UL class=sidebar-list>
            <LI><A href="#"><I class=icon-font>&#xe003;</I>常用操作</A>
                <UL class=sub-menu>
                    <LI><a href="{:url('cate/lst')}"><I class=icon-font>&#xe008;</I>栏目管理</a>
                    <LI><a href="{:url('article/lst')}"><I class=icon-font>&#xe005;</I>文章管理</a>
                    <LI><a href="{:url('link/lst')}"><I class=icon-font>&#xe052;</I>友情链接</a>
                    <LI><a href="#"><I class=icon-font>&#xe004;</I>留言管理</a>
                    <LI><a href="#"><I class=icon-font>&#xe012;</I>评论管理</a>
                    <LI><a href="#"><I class=icon-font>&#xe033;</I>广告管理</a></LI>
                </UL>
            <LI><A href="#"><I class=icon-font>&#xe018;</I>系统管理</A>
                <UL class=sub-menu>
                    <LI><A href="{:url('admin/lst')}"><I class=icon-font> &#xe016;</I>管理员管理</A>
                    <LI><A href="#"><I class=icon-font> &#xe017;</I>系统设置</A>
                    <LI><A href="#"><I class=icon-font> &#xe037;</I>清理缓存</A>
                    <LI><A href="#"><I class=icon-font> &#xe046;</I>数据备份</A>
                    <LI><A href="#"><I class=icon-font> &#xe045;</I>数据还原</A></LI>
                </UL>
            </LI>
        </UL>
    </DIV>
</DIV>