<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/libs/modernizr.min.js"></script>
</head>
<body>

{include file="Common/top" /}

<div class="container clearfix">
    
    {include file="Common/left" /}

    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
        </div>
        
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="{:url('cate/add')}"><i class="icon-font"></i>新增栏目</a>
                        
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            
                            <th width="3%">ID</th>
                            <th>栏目名称</th>
                            <th width="8%">栏目类型</th>
                            <th width="8%">操作</th>
                        </tr>

                        {volist name="catelst" id="vo"}
                        <tr>
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            <td>{$vo.id}</td>
                            <td title="{$vo.catename}"><a target="_blank" href="#" title="{$vo.catename}">{$vo.catename}</a>
                            </td>

                            <td>
                            {if condition="$vo['type'] eq 0" }
                            栏目列表
                            {else /}
                            留言板
                            {/if}
                            </td>

                            <td>
                                <a class="link-update" href="{:url('edit',array('id'=>$vo.id))}">修改</a>
                                <a class="link-del" onclick="return confirm('你确定要删除此栏目吗?');" href="{:url('del',array('id'=>$vo.id))}">删除</a>
                            </td>
                        </tr>

                        {/volist}
                        
                    </table>
                    
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>